; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; --- infected ladder to climb above into the rocks without surfing up a hill
add:
{
	"model" "*17"
	"normal.z" "0.57"
	"normal.y" "0.80"
	"normal.x" "-0.17"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2279.66 -5954.44 5513.21"
	"angles" "0.00 12.00 35.00"
}
; --- extra infected ladders to get out of pit in beginning
{
	"model" "*17"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1011.42 -4570.71 -712.46"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*14"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "57.95 643.85 -566.35"
	"angles" "0.00 0.00 0.00"
}
; --- rocks for above ladders to meet up with
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-8140 -13965 -310"
	"angles" "-95 0 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-8989 -13540 -302"
	"angles" "-95 0 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- block part of death jockey at first death charge out of saferoom, will also make death charge harder
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-9399 -14018 735"
	"angles" "180 45 235"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- restrict jockey movement around death jockey pre-bridge
{
	"solid" "6"
	"origin" "-10711 -12313 458"
	"angles" "0 205 10"
	"model" "models/props_foliage/fallentree_dry01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- post-bridge death jockey (leaving the other side still jockeyable, since it is an uncommon place to be anyway)
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-10957 -11055 357"
	"angles" "-89 168 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- invis wall on side of rock to force survivors to get ledged onto bridge
{
	"origin" "-11000 -10993 382"
	"mins" "-10 -148 -1000"
	"maxs" "10 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- make a tree set solid between ammo building and bridge
{
	"solid" "6"
	"origin" "-11284 -10824 388"
	"angles" "0 57 0"
	"model" "models/props_foliage/trees_cluster01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
	"rendermode" "10"
}
; --- invis blocks for above tree set
{
	"origin" "-11284 -10824 388"
	"mins" "-6 -4 -0"
	"maxs" "6 4 220"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; --- AC unit on ammo building roof for extra spawn cover
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acunit2.mdl"
	"solid" "6"
	"origin" "-11291 -9969 596"
}
; --- add a tree near ammo building for extra spawns/tank LOS blocking
{
	"solid" "6"
	"origin" "-10540 -9888 416"
	"angles" "0 90 0"
	"model" "models/props_foliage/old_tree01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- fix stuck spot near ammo building between trees and a rock
{
	"origin" "-11248 -9506 436"
	"mins" "-42 -0.1 -0.1"
	"maxs" "0.1 40 25"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- extra ladder up an electric pole
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-15138.33 -2871.41 230.44"
	"angles" "0.00 90.00 0.00"
}
; --- ladder onto top of end saferoom
{
	"model" "*31"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "49.00 912.00 270.00"
	"angles" "0.00 0.00 0.00"
}
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; ============  PROMOD NON-HITTABLE CARS  =============
; =====================================================

filter:
{
	; car 1
	"hammerid" "1557504"
}
{
	; car 1 - glass
	"hammerid" "1557500"
}
{
	; car 2
	"hammerid" "1557571"
}
{
	; car 2 - glass
	"hammerid" "1557567"
}

add:
{
	"origin" "-11128 -10420 432.5"
	"solid" "6"
	"model" "models/props_vehicles/cara_84sedan_glass.mdl"
	"disableshadows" "1"
	"angles" "4.5 11 0"
	"classname" "prop_dynamic"
}
{
	"origin" "-11128 -10420 432.5"
	"solid" "6"
	"model" "models/props_vehicles/cara_84sedan.mdl"
	"angles" "4.5 11 0"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
{
	"origin" "-10816 -10080 413"
	"solid" "6"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"disableshadows" "1"
	"angles" "-1 66.5 -2"
	"classname" "prop_dynamic"
}
{
	"origin" "-10816 -10080 413"
	"solid" "6"
	"disableshadows" "1"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"angles" "-1 66.5 -2"
	"classname" "prop_dynamic"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block out-of-map drop grief
{
	; invisible block above fence
	"origin" "-8915 -8878 120"
	"mins" "0 0 0"
	"maxs" "65 692 550"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================

add:
; --- prevent SI getting stuck in large ditch near starting area (confogl only)
{
	; toppled tree ramp in ditch
	"solid" "6"
	"origin" "-8200 -13380 -515"
	"angles" "-67.5 70 0"
	"model" "models/props_foliage/old_tree01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-6090 -8240 452"
	"angles" "180 10 270"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-6020 -9130 420"
	"angles" "196 -20 90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}

; =====================================================
