; Open Road 1
; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket and Gofu
; --- extra ladders
; --- spawn ladder
add:
{
	"model" "*45"
	"normal.z" "0.21"
	"normal.y" "-0.00"
	"normal.x" "-0.97"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4049.50 -1436.99 -203.75"
	"angles" "0.00 90.00 0.00"
}
; --- prop for above ladder
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-55 977 20"
	"angles" "0 0 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"model" "*23"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2636.00 132.00 -388.47"
	"angles" "0.00 0.00 0.00"
}
; --- extra roof ladders
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1647.00 2909.00 -108.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2054.00 -646.00 -48.00"
	"angles" "0.00 1170.00 0.00"
}
; --- ladder over fence near previous ladder
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2056.00 -898.00 -134.75"
	"angles" "0.00 1170.00 0.00"
}
; --- extra saloon ladders
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2305.00 1089.00 0.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "22.00 3806.14 9.00"
	"angles" "0.00 270.00 0.00"
}
; --- fix a roof surf spot/stuck spot
{
	"origin" "1130 1360 563"
	"mins" "0 0 -100"
	"maxs" "406 64 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- ladder in door room
{
	"model" "*67"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1516.99 6434.85 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- ladder onto fake saferoom
{
	"model" "*47"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5321.00 2464.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- ladder onto end saferoom
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2693.00 3712.01 -565.21"
	"angles" "0.00 0.00 0.00"
}
; =====================================================

; --- Move weapon spawns into saferoom.
filter:
{
	"hammerid" "82666"
}
{
	"hammerid" "383075"
}
add:
{
	"classname" "weapon_spawn"
	"origin" "-819.853 442.978 65"
	"angles" "0 50 270"
	"solid" "6"
	"weapon_selection" "any_smg"
	"count" "5"
	"spawnflags" "14"
}
{
	"classname" "weapon_spawn"
	"origin" "-865 462 67"
	"angles" "0 -60 -90"
	"solid" "6"
	"weapon_selection" "tier1_shotgun"
	"count" "5"
	"spawnflags" "14"
}

; --- Convert First Aid Kit Spawns to Item Spawns.
modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	delete:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	insert:
	{
		"classname" "weapon_item_spawn"
	}
}

; --- Remove hittable truck from beginning tank fight area.
filter:
{
	"hammerid" "61478"
}
{
	"hammerid" "61482"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "-413.455 1777.41 321.277"
	"angles" "0 297 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-413.455 1777.41 321.277"
	"angles" "0 297 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_vehicles/pickup_truck_78.mdl"
}

; --- remove the extra wave of horde during the event
modify:
{
	match:
	{
	"targetname" "paniikki_ovi"
	}
	delete:
	{
	"OnOpen" "directorForcePanicEvent45-1"
	"OnOpen" "jepaKill45-1"
	}
	insert:
	{
	"OnOpen" "jepaKill25-1"
	}
}

; --- Remove end saferoom pills / 1 extra pill at cabinet
filter:
{
	"hammerid" "58294"
}
{
	"hammerid" "58296"
}
{
	"hammerid" "58302"
}
{
	"hammerid" "58304"
}
{
	"hammerid" "58306"
}
{
	"hammerid" "58308"
}
{
	"hammerid" "95514"
}

; --- Make pill spawns more consistant
modify:
{
	match:
	{
	"hammerid" "82726"
	}
	replace:
	{
	"item11" "0"
	"item3" "0"
	"item1" "0"
	}
}
modify:
{
	match:
	{
	"hammerid" "95446"
	}
	replace:
	{
	"item11" "0"
	"item3" "0"
	"item5" "0"
	}
}
modify:
{
	match:
	{
	"hammerid" "95520"
	}
	replace:
	{
	"item11" "0"
	}
}
modify:
{
	match:
	{
	"hammerid" "97199"
	}
	replace:
	{
	"item11" "0"
	}
}

; Make it so jockey ragdoll always falls in building
modify:
{
	match:
	{
		"targetname" "case_jaska"
	}
	delete:
	{
		;"OnCase01" "jaska_iteKill0-1"
		;"OnCase01" "jaskanveretKill0-1"
		;"OnCase01" "jaskapaskaKill0-1"
		;"OnCase01" "poistoKill1-1"
		;"OnCase01" "poistorikkeriKill2-1"
		;"OnCase01" "ovikukkeliKill2-1"
		"OnCase02" "jockeythemightyKill1-1"
	}
}
